.nav {
    @include mq(medium) {
        display: flex;
        justify-content: space-evenly;
        margin-left: 15%;
    }
    @include e(item) {
        @extend %nav-item-disp;
        text-align: center;
        color: palette(grey);
        font-size: em(20px);
        @include mq(medium) {
            padding-top: em(25px);
            &:last-child {
                margin-right: em(100px);
            }
            

            
           
        }
    }

    a {
        @extend %nav-link;
        color: palette(grey);
        &:hover {
            @extend %nav-link-hover;
        }
    }

}

// .grid__col--9 {
//     display: flex;
    
// }









